body{
  font-family: $font-Tahoma-Regular;
  background: #ffffff;
}
#app{
  background: url("images/background.png") no-repeat top center,
              url("images/bottom.png") no-repeat top 1350px center;
  overflow-x: hidden;
}
html{

}